html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #d0b0ae;
}

/* title styling */
.drinks-title {
    margin:auto;
    display:flex; 
    flex-direction: row;  
}

h1 {
    margin:0px;
    font-style:italic;
    font-family: 'Source Sans Pro';
    font-weight:lighter;
    color: #752e3e;
    
}

h2 {
    font-size: 0.9em;
    padding-left: 10px;
    font-family: 'Source Sans Pro';
    /* font-weight: revert; */
    font-weight: lighter;
    /* font-style: italic; */
    margin-bottom: 0;
    padding-top: 5px;
    color: #752e3e;
}

.svg-inline--fa{
    height: 1.5em;
    margin:8px;
}
/* end title styling */

 /* form elements styling */
#Submit{
    margin-top:10px;
    background-color:#c16270;
    color:#f1efea;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-family: 'Source Sans Pro';
    font-weight:lighter;
    padding-left:25px;
    padding-right:25px;
}

#Submit:hover{
    background-color: #752e3e;
    color: #f1efea;
}

.input-box {
    border-radius: 15px;
    border: 1px solid #7c7b7c;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 12px;
    width: 600px;
    background-color: #ece5df;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: #ece5df;
    font-family: 'Source Sans Pro';
    color: #666666;
}
/* end form elements styling */


.full-body-container{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    background-color: #f1efea;
    position:relative;
}

.results-container{
    display: flex;
    position: relative;
    align-items: center;
    margin-top:10px;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 700px;
}

.drink-body{
    display:flex;
    vertical-align:middle;
}

.answer-box {
    margin-top: 10px;
    margin-left:5px;
    border-radius: 10px;
    text-align: center;
    color: #7c7b7c;
    padding: 18px;
    background-color: #f1efea;
    font-family: 'Source Sans Pro';
    width: 175px;
    height: 175px;
    overflow-x: hidden;
    overflow-y: auto;
}

.details:hover{
    color: #c16270;
}

/* Modal code. Adapted from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 10px;
    background-color: #e9e6df;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30%; /* Could be more or less, depending on screen size */
    font-family: 'Source Sans Pro';
    color:#7c7b7c;
  }
  
  /* The Close Button */
  .close {
    color: #7c7b7c;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* End modal code */

