<!doctype html>
<title>{% block title %}{% endblock %} Drink Engine</title>
<script src="https://kit.fontawesome.com/d1b1f6e6ef.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="form-container">
            <div class="drinks-title">
                <svg class="fa-solid fa-martini-glass" style="color: #752e3e;"></svg>
                <h1 id="title"> Recs on the Rocks</h1>
                <h2 id="" subtitle">Drink Recommendation Engine</h2>
            </div>
            <div class="form">
                <div class="input-box-container">
                    <div class="input-box" id="likes">
                        <img src="{{ url_for('static', filename='images/cocktail.png') }}" />
                        <input placeholder="Likes" id="filter-text-likes">
                    </div>
                    <div class="input-box" id="dislikes">
                        <img src="{{ url_for('static', filename='images/cocktail.png') }}" />
                        <input placeholder="Dislikes" id="filter-text-dislikes">
                    </div>
                </div>
                <div class="submit-button">
                    <button id="Submit" onclick="filterText()">Recommend</button>
                </div>
            </div>
            <div class="results-container">
                <div class="results">

                </div>
            </div>
        </div>
        <div class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()" style="padding-left:10px;">&times;</span>
            </div>
        </div>
    </div>

    <script>
        var current_tags = {}

        function drinkTemplate(data, current_rec) {
            console.log("data", data)
            current_tags[current_rec] = (data.drink, data.tags)
            return `<div class='answer-box'>
                <div class='drink-body'>
                    <img src=${data.picture} style="width: 40%; height: 40%; float: left;">
                    <h3 class='drink-title'  style="padding-left:10px;">${data.drink}</h3>
                </div>
                <p class='drink-desc'>${data.ingredients}</p>
                <u class='details' onclick="openModal('${data.drink}')">Details</u>
                </div>
                <div id= "${data.drink}" class="hidden-details" style="display: none">
                        <div class="modal-body" style"float:left;">
                            <h3 class='drink-title'>${data.drink}</h3>
                            <p class='drink-desc'>${data.ingredients}</p>
                            <p class='drink-desc'>${data.instructions}</p>
                        </div>
                    <img src=${data.picture} style="width: 30%; height: 30%; border-radius: 10px;">
                </div>`
            // <img src=${data.picture} style="width: 75px; height: 75px;">
            // <img id = ${current_rec}_up onclick="reactClick(this.id)" src="/static/images/thumbs_up.png" style="width: 50px; height: 50px;"/>
            // <img id = ${current_rec}_down onclick="reactClick(this.id)" src="/static/images/thumbs_down.png" style="width: 50px; height: 50px;"/>
            //                <p class='drink-desc'>${data.instructions}</p>
        }

        function reactClick(id) {
            console.log("clicked here!")
            split_id = id.split("_")
            current_rec = split_id[0]
            likes = split_id[1] == 'up'
            console.log("tags", current_tags[current_rec], likes)
            document.getElementById(id).style.border = "2px solid orange";
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementsByClassName('results').innerHTML = ""
            current_rec = 0
            fetch("/drinks_table?" + new URLSearchParams({ likes: document.getElementById('filter-text-likes').value, dislikes: document.getElementById('filter-text-dislikes').value }).toString())
                .then((response) =>
                    response.json())
                .then((data) =>
                    data.forEach(row => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = drinkTemplate(row, current_rec)
                        current_rec += 1
                        document.getElementsByClassName('results')[0].appendChild(tempDiv)
                    }));
        }

        function openModal(id) {
            document.getElementsByClassName("modal")[0].style.display = "block";
            document.getElementById(id).style.display = "flex";
            document.getElementsByClassName("modal-content")[0].appendChild(document.getElementById(id));
        }

        function closeModal() {
            var idx = document.getElementsByClassName("modal-content")[0].getElementsByClassName("drink-title").length;
            var id = document.getElementsByClassName("modal-content")[0].getElementsByClassName("drink-title")[idx - 1].innerHTML;
            document.getElementsByClassName("modal")[0].style.display = "none";
            document.getElementById(id).style.display = "none";
        }
    </script>
</body>