<!doctype html>
<title>{% block title %}{% endblock %} Drink Engine</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="drinks-title">
                <h1 id="title">🍸 Recs on the Rocks!</h1>
            </div>
            <div class="input-box">
                <img src="{{ url_for('static', filename='images/cocktail.png') }}" />
                <input placeholder="Likes" id="filter-text-likes">
            </div>
            <div class="input-box">
                <img src="{{ url_for('static', filename='images/cocktail.png') }}" />
                <input placeholder="Dislikes" id="filter-text-dislikes">
            </div>
            <div class="button"> <button id="Submit" onclick="filterText()">Get my drinks!</button>
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, titleDesc) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }

        function tempTemplate(data) {
            return `<div class=''>
                <h3 class='episode-title'>${data.drink}</h3>
                <p class='episode-desc'>${data.ingredients}</p>
                </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            //console.log(document.getElementById("filter-text-val").value)
            fetch("/drinks_table?" + new URLSearchParams({ likes: document.getElementById('filter-text-likes').value, dislikes: document.getElementById('filter-text-dislikes').value }).toString())
                .then((response) =>
                    response.json())
                .then((data) =>
                    data.forEach(row => {
                        console.log(row)
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = tempTemplate(row)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }));
            //console.log("q")
        }

    </script>
</body>